<div *ngFor="let article of articles">
  <div class="row" *ngIf="article.validated">
    <div class="col-10 mx-auto">
      <div class="card flex-md-row shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{ article.speciality }}</strong>
          <h3 class="mb-0">
            <a class="text-dark">{{ article.title }}</a>
          </h3>
          <div class="mb-1 text-muted">{{ article.createdAt | date: 'MMM d, y, h:mm' }}</div>
          <p class="card-text mb-auto">{{ article.content.slice(0, 500) }}...</p>
          <div class="w-100 font-18 mt-3 d-flex justify-content-between">
            <a class="link go-link text-primary"
              (click)="goProfile(article.user.username)">
              {{article.user.fullName}}
            </a>
            <a class="link go-link text-primary"
              (click)="readMore(article.id)">
              Continue reading
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
