<div class="card mb-3 w-50 mx-auto shadow">
  <div class="row g-0">
    <div class="card-body p-5">
      <form [formGroup]="resetPasswordForm"  (ngSubmit)="updatePassword()">
        <div class="account-logo">
          <img src="assets/img/logo-dark.png" alt="">
        </div>
        <div class="form-group justify-content-center">
          <label>New Password</label>
          <input formControlName="newPassword" type="password" class="form-control"
                 [class.is-invalid]="resetPasswordForm.controls['newPassword'].touched && resetPasswordForm.controls['newPassword'].invalid">
          <div *ngIf="resetPasswordForm.controls['newPassword'].touched" class="text-danger">
            <ul>
              <li *ngIf="resetPasswordForm.controls['newPassword'].hasError('required')">
                New Password is required
              </li>
              <li
                *ngIf="resetPasswordForm.controls['newPassword'].hasError('minlength')
                || resetPasswordForm.controls['newPassword'].hasError('maxlength')">
                Password length invalid: 8-15
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group justify-content-center">
          <label>Confirm Password</label>
          <input formControlName="confirmPassword" type="password" class="form-control"
                 [class.is-invalid]="resetPasswordForm.controls['confirmPassword'].touched && resetPasswordForm.controls['confirmPassword'].invalid">
          <div *ngIf="resetPasswordForm.controls['confirmPassword'].touched" class="text-danger">
            <ul>
              <li *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">
                Confirm Password is required
              </li>
              <li
                *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('minlength')
                || resetPasswordForm.controls['confirmPassword'].hasError('maxlength')">
                Password length invalid: 8-15
              </li>
              <li *ngIf="resetPasswordForm.controls['confirmPassword'].value != resetPasswordForm.controls['newPassword'].value">
                Password not matched
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group text-center">
          <button [disabled]="resetPasswordForm.invalid" type="submit" class="btn btn-primary">Update Password</button>
        </div>
        <div class="text-center register-link">
          Remember your password?
          <a routerLink="/login">Login Now</a>
        </div>
      </form>
    </div>
  </div>
</div>
