<div class="card mb-3 w-50 mx-auto shadow">
  <div class="row g-0">
    <div class="card-body p-5">
      <form [formGroup]="resetPasswordForm"  (ngSubmit)="resetPassword()">
        <div class="account-logo">
          <img src="assets/img/logo-dark.png" alt="">
        </div>
        <div class="form-group justify-content-center">
          <label>Email</label>
          <input formControlName="email" type="email" autofocus="" class="form-control"
                 [class.is-invalid]="resetPasswordForm.controls['email'].touched && resetPasswordForm.controls['email'].invalid">
          <div *ngIf="resetPasswordForm.controls['email'].touched" class="text-danger">
            <ul>
              <li *ngIf="resetPasswordForm.controls['email'].hasError('required')">
                Email is required
              </li>
              <li *ngIf="resetPasswordForm.controls['email'].hasError('pattern')">
                Email pattern invalid
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
        <div class="text-center register-link">
          Already have an account?
          <a routerLink="/login">Login Now</a>
        </div>
      </form>
    </div>
  </div>
</div>
