<div class="card mb-3 w-50 mx-auto shadow">
  <div class="row g-0">
    <div class="card-body p-5">
      <form [formGroup]="resetPasswordForm" #RSForm="ngForm" (ngSubmit)="resetPassword(RSForm)">
        <div class="account-logo">
          <img src="assets/img/logo-dark.png" alt="">
        </div>
        <div class="form-group justify-content-center">
          <label>Email</label>
          <input formControlName="email" type="text" autofocus="" class="form-control">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
        <div class="text-center register-link">
          Already have an account?
          <a routerLink="/login">Login Now</a>
        </div>
      </form>
    </div>
  </div>
</div>
